.DS_Store
Makefile
.deps/
Makefile.in
libabiword.pc
*.lo
.libs/
autom4te.cache
*.la
src/wp/main/cocoa/bundle/Info.plist
*.m4
missing
depcomp
testwrap.sh
compile
install-sh
libtool
ltmain.sh
py-compile
test-driver
stamp-h1
INSTALL

configure
config.sub
config.guess
config.h
config.h.in
config.log
config.status

xcuserdata/
project.xcworkspace/
